#navlist{
    width: 100%;
    padding: 20px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style: none;
    font-size: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    overflow-x:none ;
    background-color: rgb(205, 180, 227);
    background-image: linear-gradient(164deg,rgb(199, 186, 227),pink 100%,grey);
}
nav{
    width: 100%;
    
    
}
.navcontainer{
    width: 100vw;
    /* background-color: aquamarine; */
    background-color: rgb(205, 180, 227);
    background-image: linear-gradient(164deg,rgb(199, 139, 228),pink);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#navlogo{
    font-size: 3rem;
    color: white;
}
a{
    text-decoration: none;
    color: azure;
}
#navitems{
    display: flex;
    gap: 40px;
}
footer{
    width: 100%;
}
.footerbox{
    background-color: rgb(205, 180, 227);
    background-image: linear-gradient(164deg,rgb(139, 139, 245),pink);
    width: 100%;
    text-align: center;

    min-height: 30px;
}
.footerbox p{
    color: azure;
    font-size: 2rem;
}
.contentbox{
    width: 70%;
    margin: auto;
    /* border: 2px solid salmon; */
    background-color: whitesmoke;

    
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 1px 0px 70px black;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightbox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear;
    
}
.rightbox img{
    height:400px ;
    border-radius: 30px;
    transition:all 0.6s 0s;
}
.rightbox :hover{
    transform: scale(1.1);
}
.rightbox.overlay{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(119, 155, 143, 0.79);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s 0 0;
    
}
.rightbox:hover.overlay{
    opacity: 1;
}
.rightbox.overlay span{
    color: rgb(225, 197, 197);
    font-size: 1.2;
    align-items: center;
    align-content: center;
}
.leftbox{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.leftbox h2{
    font-size: 2rem;
}
.Ingredientsbox1{
    font-size: 1.5rem;
}
.recipebox{
    font-size: 1.4rem;
}
h2{
    font-size: 30px;
}
/* css file */